body {
    background-color: rgb(163, 4, 4);
    text-align: center;

}

h1,h2,h3,h4,h5,p {
    color: aliceblue;
}

#MainBody{
    background-color: grey;
    width: 600px;
    height: 600px;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin: auto;
    border: 10px;
    border-color: black;
    border-style:double;
}
#cube{
    background-color: rgb(202, 5, 5);
    width: 150px;
    height: 150px;
}
#Bottom{
    background-color: crimson;
    margin: auto;
    border-style:solid;
    border: 10px;
    border-color: black;
}
